{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Izlogiraj se</a>
{% else %}
<a href="{% url 'login' %}">Ulogiraj se</a>
{% endif %}    

<hr>
<h1>Moja To Do Lista {{color}}</h1>

<a href="{% url 'task-create' %}">Dodaj zadatak</a>

<form method="GET">
    <input type='text' name='search-area' value="{{search_input}}">
    <input type="submit" value='Traži'>
</form>

<div class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper">
            {% if task.complete %}
                    <div class="task-title">
                        <div class="task-complete-icon"></div>
                        <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                    </div>
            {% endif %}
        </div>

    {% empty %}
    <h3>Nema Zadataka u listi</h3>
    {% endfor %}
</div>

<table>
    <tr>
        <th>Zadatci</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task-update' task.id %}">Uredi</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Izbriši</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>